@font-face {
  font-family: 'HumanBBYWeb';
  src: url('https://cdn.flashtalking.com/176968/HumanaBBY_2024_fontsRL/HumanBBY-55Regular-Web.woff2') format('woff2'),
  url('https://cdn.flashtalking.com/176968/HumanaBBY_2024_fontsRL/HumanBBY-55Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'HumanBBYWeb';
  src: url('https://cdn.flashtalking.com/176968/HumanaBBY_2024_fontsRL/HumanBBY-75Bold-Web.woff2') format('woff2'),
  url('https://cdn.flashtalking.com/176968/HumanaBBY_2024_fontsRL/HumanBBY-75Bold-Web.woff') format('woff');
  font-weight: bold;
  font-style: bold;
  
}

@font-face {
  font-family: 'HumanBBYWeb';
  src: url('https://cdn.flashtalking.com/176968/HumanaBBY_2024_fontsRL/HumanBBY-Web-65-Medium.woff') format('woff');
  font-weight: 600;
  font-style: medium;
}

@font-face {
  font-family: 'HumanBBY-Web-45-Light';
  src: url('https://cdn.flashtalking.com/176968/HumanaBBY_2024_fontsRL/HumanBBY-Web-45-Light.woff') format('woff');

}

body {
  margin: 0px;
  padding: 0px;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L",
    "Liberation Sans", FreeSans, sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frameSize {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 0px;
  top: 0px;
}

#bb_logo {
  z-index: 50;
  opacity: 1;
  position: absolute;
  height: 50px;
  /* transform: translateY(1px) scale(0.5); */
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #bb_logo {
    width: 320px;
  }
}

#bg {
  z-index: 11;
}

#greetings {
  opacity: 0;
  z-index: 15;
  left: 0px;
}

.abso {
  position: absolute;
  display: block;
  top: 0px;
}

#openingFrame {
  display: block;
  z-index: 12;
}

#container {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 320px;
  height: 50px;
  overflow: hidden;
  opacity: 0;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
  letter-spacing: -0.5px;
}

#border {
  position: absolute;
  display: block;
  width: 318px;
  height: 48px;
  border: solid 1px #c0c0c0;
  pointer-events: none;
  z-index: 50;
}

#non_splash_hold {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 320px;
  height: 50px;
}

#carousel {
  position: absolute;
  display: block;
  width: 175px;
  height: 50px;
  left: 118px;
  top: -55px;
  overflow: hidden;
  z-index: 13;
}

.prod {
  position: absolute;
  display: block;
  width: 175px;
  height: 50px;
  overflow: hidden;
  left: 320px;
  top: 0px;
}

.prod_img_hold {
  position: relative;
  width: 131px;
  height: 183px;
  margin-top: 22px;
}

.prod_img_hold_big {
  position: relative;
  width: 32px;
  height: 42px;
  margin-left: 0px;
  margin-top: 4px;
}

.prod_img_hold img,
.prod_img_hold_big img {
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.prod_img {
  display: block;
  align-self: center;
}

.prod_info {
  position: absolute;
  display: block;
  width: 133px;
  height: 50px;
  left: 42px;
  top: 0px;
}



.prod_desc_big {
  position: absolute;
  display: -webkit-box;
  left: 0px;
  top: 23px;
  width: 100%;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
  /* color: #0d4ca7; */
  font-weight: normal;
  font-size: 8.5px;
  line-height: 1.25em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prod_price {
  position: absolute;
  display: block;
  left: 1px;
  top: 8px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
  color: #000;
}

.prod_logo {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: auto;
  z-index: 13;
}

.p_logo_cont {
  position: absolute;
  display: block;
  opacity: 0;
  width: 42px;
  height: auto;
  z-index: 12;
  left: 223px; 
  top: 33px;
  left: 0;
  top: 0;
}


.prod_btn {
  position: absolute;
  display: block;
  width: 222px;
  height: 50px;
  left: 0px;
  top: 0px;
  background-color: cornflowerblue;
  opacity: 0;
}

.arrow {
  position: absolute;
  display: none;
  width: 35px; height: auto;
  top: 15px;
  z-index: 51;
  opacity: 0;
  transform: scale(0.7);
}

#arrow_left {
  left: 85px;
  rotate: -90deg;
}

#arrow_right {
  /* left:140px; */
  right: -2px;
  rotate: 270deg;
}
/* #arrow_left {
  position: absolute;
  display: none;
  left: 76px;
  top: 13px;
  z-index: 51;
  opacity: 0;
  transform: scale(0.7);
}

#arrow_right {
  position: absolute;
  display: none;
  right: 2px;
  top: 13px;
  z-index: 13;
  opacity: 0;
  transform: scale(0.7);
} */

#whiteBlock {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  background-color: #fff;
  width: 160px;
  height: 600px;
}

#cta_hold {
  position: absolute;
  display: block;
  width: 160px;
  height: 32px;
  top: 600px;
  z-index: 12;
  transform: translateY(208px);
}

#cta_bg {
  position: absolute;
  width: 100px;
  height: 31px;
  border-radius: 5px 5px;
  left: 30px;
  background-color: #ffe70b;
}

#cta_copy {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-left: 1px;
  letter-spacing: -0.1px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}

#footer_btn {
  position: absolute;
  display: block;
  width: 320px;
  height: 100px;
  left: 0px;
  top: 150px;
  background-color: cornflowerblue;
  opacity: 0;
}

#legal_txt {
  position: absolute;
  top: 40px;
  left: 3px;
  font-size: 7px;
  width: 79px;
  /* letter-spacing: 0.8px; */
  z-index: 13;
  font-weight: normal;
  color: #fff200;
}

.irc {
  font-size: 12px;
  line-height: 10px;
}

/* .dollarSign {
  font-size: 14px;
} */

#default_img {
  position: absolute;
  display: none;
  left: 0px;
  width: 320px;
  height: 50px;
  z-index: 12;
}

#footer_bg {
  position: absolute;
  width: 320px;
  left: 0px; top: 0px;
  z-index: 12; opacity: 0;
}

#non_splash {
  position: absolute;
  display: block;
  left: 0px;
}
#upperBorder,
#footer_hold {
  z-index: 13;
}
#upperBorder {
  position: absolute;
  width: 235px;
  height: 0px;
  top: 25px;
  left: 84px;
  background: #fff;
}

.macOS-firefox .prod_desc_big,
.macOS-safari .prod_desc_big
{
    line-height: 1.13em;
}

.macOS-chrome .prod_desc_big{
  line-height: 1.15em;  
}

.windows-firefox .prod_desc_big{
  line-height: 1.25em;
}

.logoTag {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: auto;
}

#logoContainer {
  position: absolute;
  width: 54px; height: auto;
  left: 133px; top: 6px;
  z-index: 14;
}

#f1Fold {
  z-index: 14;
}

#f2Image {
  z-index: 13;
  opacity: 0;
}

#tagFlat {opacity: 0;}
#tagBottom {transform-origin: top right;}

#Frame2CopyImg, #headlineTxt{z-index: 12; opacity: 0;}
#Frame2BG{z-index: 11; opacity: 0;}

div#Frame2_Copy_Text {
  z-index: 12;
  position: absolute;
  left: 94px;
  font-size: 14px;
  line-height: 1.2em;
  color: #fff200;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 210px;
  height: 50px;
  font-family: 'HumanBBY-Web-45-Light';
  opacity: 0;
}